@import "tailwindcss";

@theme {
  /* place-* カラーの定義 */
  --color-place-blue: #1DA1F2;
  --color-place-light: #E8F5FE;
  --color-place-dark: #14171A;

  /* despair-* カラーの定義 */
  --color-despair-100: #F5F8FA;
  --color-despair-500: #657786;
  --color-despair-900: #14171A;
}